@charset "UTF-8";

.custom-grouped-lb {
    white-space: nowrap
}

.custom-grouped-lb>.custom-lb {
    border-radius: 0;
    margin: 0
}

.custom-grouped-lb>.custom-lb:first-child {
    border-radius: 12px 0 0 12px
}

.custom-grouped-lb>.custom-lb:last-child {
    border-radius: 0 12px 12px 0
}

.custom-grouped-lb>.custom-lb:not(:last-child) {
    margin-right: .1em
}

#wrapper {
    --l: var(--itchio_link_color);
}

.carousel_wrapper {
    --l: linear-gradient(90deg,
            #fff calc(100% - var(--collection-fade-length, 30%)),
            #0000);
    -webkit-mask-image: var(--l);
    mask: alpha var(--l);
}

/* page Global configuration */



.user_links {
    display: none;
}

.collections .collection_row .inner_column {
    h2 a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .carousel_wrapper .game_list_widget{
        .game_cell {
    background-color: #22120e;
    border: solid;
    border-color: #3D1F13;
    padding: 8px;
    min-height: 236px;

    .game_cell_data .game_title a.title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}

    }
}


/* page configuration with 780 minimun width */

@media (min-width: 780px) {
    .collections {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .collection_row {
            max-width: 35em;

            .inner_column h2 a {
            width: 463px;
            }
        }
    }
}

/* page configuration with 778 minimun width */

/*
@media (max-width: 778px) {
}
*/

/* Footer Configuration */

.footer {
    border-top: 0;
}